/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CMakeCache.txt
/CPackConfig.cmake
/CPackSourceConfig.cmake
/Debug
/gateway.dir
/gateway.sln
/gateway.vcxproj
/gateway.vcxproj.filters
/PACKAGE.vcxproj
/PACKAGE.vcxproj.filters
/test
/x64
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters